<div #chatContainer class="chat-window">
  <app-chat-message *ngFor="let m of messagesarray" [messageArray]="m"></app-chat-message>
</div>

<mat-divider></mat-divider>

<mat-form-field color="primary" appearance="legacy" class="chat-input">

    <input matInput min="0" name="newMessage" type="text" placeholder="Send chat message" (keyup.ENTER)="sendMessage()" [(ngModel)]="newMessage">

    <button mat-icon-button matSuffix (click)="sendMessage()">
        <mat-icon>sentiment_very_satisfied</mat-icon>
    </button>

</mat-form-field>
