<div class="field-info-header">

  <button mat-icon-button (click)="back()">
    <mat-icon>keyboard_return</mat-icon>
  </button>

  <span class="field-info-title">
    {{town.name}}
  </span>

</div>

<div class="info-body">

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          DETAILS
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="town-info">
        <p class="town-info-row">
          REGION: {{town.region.name}}
        </p>
        <p class="town-info-row">
          OWNER: {{town.owner.name}}
        </p>
        <p class="town-info-row">
          HOUSE COST: 123.dollar
        </p>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CHARGE
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let i of [0,1,2,3,4,5]"  style="height: 16.6666%; display: flex; justify-content: space-between">
        <span>{{i}} X <i class="fas fa-home"></i></span>
        <span>{{town.chargeOf(i).toString()}}</span>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>DISCOUNTS</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let d of discounts">
          <p mat-line appProperty [property]="d.getOwner()"></p>
          <p mat-line style="display: flex; justify-content: space-between">
            <span>{{d.getValueString()}}</span> <span>{{d.endTour}}</span>
          </p>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>

  </mat-accordion>

</div>