<div class="field-info-header">

    <button mat-icon-button (click)="back()">
        <mat-icon>keyboard_return</mat-icon>
    </button>

    <span class="field-info-title">
        {{player.name}}
    </span>

</div>

<div class="field-info-body">

    {{player.properties.getMoney().toString()}}

    <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>TOWNS</mat-panel-title>
        <mat-panel-description>{{player.properties.getTowns().length}}</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let t of player.properties.getTowns()" style="">
          {{t.toString()}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>UTILITIES</mat-panel-title>
        <mat-panel-description>{{player.properties.getUtilities().length}}</mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let t of player.properties.getUtilities()" style="">
          {{t.toString()}}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>DISCOUNTS</mat-panel-title>
            <mat-panel-description>{{player.properties.getDiscounts().length}}</mat-panel-description>
        </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let d of player.properties.getDiscounts()">
          <p mat-line appProperty [property]="d.chargeable"></p>
          <p mat-line style="display: flex; justify-content: space-between">
            <span>{{d.getValueString()}}</span> <span>{{d.endTour}}</span>
          </p>
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>

    </mat-accordion>

</div>