<div class="field-info-header">

  <button mat-icon-button (click)="back()">
    <mat-icon>keyboard_return</mat-icon>
  </button>

  <span class="field-info-title">
    {{utility.name}}
  </span>

</div>

<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DETAILS
      </mat-panel-title>

    </mat-expansion-panel-header>

    <div class="town-info">
      <p class="town-info-row">
        REGION: {{utility.region.name}}
      </p>
      <p class="town-info-row">
        OWNER: {{utility.owner.name}}
      </p>
      <p class="town-info-row">
        PRICE: {{utility.getBasicPrice()}}
      </p>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        CHARGE
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let util of utility.region.utilities.array; let i = index"  style="height: 16.6666%; display: flex; justify-content: space-between">
      <span>OWNS: {{i}}</span>
      <span>{{utility.chargeOf(i).toString()}}</span>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DISCOUNTS
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
      <mat-list-item *ngFor="let d of discounts">
        <p mat-line appProperty [property]="d.getOwner()"></p>
        <p mat-line style="display: flex; justify-content: space-between">
          <span>{{d.getValueString()}}</span> <span>{{d.endTour}}</span>
        </p>
      </mat-list-item>
    </mat-list>

  </mat-expansion-panel>


</mat-accordion>
