<div class="improvements-area" [ngStyle]="{'background-color': town.region.name}">
  <div class="improvement" *ngFor="let improvement of town.improvements.toArray()"></div>
</div>

<span class="field-icon city" [ngStyle]="{'color': town.region.color}"></span>

<span>{{romanIndex}}</span>

<div class="price-area" [style.background-image]="town.owner.color != null ?
                            'linear-gradient(to top, ' + town.owner.color + ', transparent)' : ''">
  <span class="sm-text">
    {{town.price}}
  </span>
</div>

