<mat-list-item *ngIf="show">

  <h3 mat-line>{{name}}</h3>
  <p mat-line style="display: flex; justify-content: space-between">
    <span>
      {{subname}}
    </span>
    <span>
      {{price}}
    </span>
  </p>

  <button mat-icon-button *ngIf="transferable.addProperty() === true" (click)="addItem()">
    <mat-icon>add_box</mat-icon>
  </button>

  <button mat-icon-button *ngIf="transferable.removeProperty() === true" (click)="removeItem()">
    <mat-icon>delete</mat-icon>
  </button>

</mat-list-item>
