<ng-container *ngIf="isBank()" class="transaction-status-buttons">

  <button mat-button *ngIf="status" [disabled]="!canAfford()" (click)="setStatus()">
    <span *ngIf="getDifference() > 0">RECEIVE ${{getDifference()}}</span>
    <span *ngIf="getDifference() <= 0">PAY ${{-getDifference()}}</span>
  </button>

  <button mat-button *ngIf="!status" class="status-button" (click)="setStatus()">
    DECLINE
  </button>

</ng-container>


<ng-container *ngIf="isCompulsory()" class="transaction-status-buttons">

  <button mat-button *ngIf="status" (click)="setStatus()">
    ACCEPT
  </button>

  <button mat-button *ngIf="!status" (click)="setStatus()">
    {{isInitiator() ? 'COLLECT ' : 'PAY ' + getDemand().toString()}}
  </button>

</ng-container>


<ng-container *ngIf="isVoluntary()" class="transaction-status-buttons">

  <button mat-button *ngIf="status" (click)="setStatus()">
    ACCEPT
  </button>
  <button mat-button *ngIf="!status" (click)="setStatus()">
    DECLINE
  </button>

</ng-container>
