<div *ngIf="transaction.accepted() === null" class="transaction-shadow">

</div>

<div class="transaction-offers">

  <div class="transaction-offer">

    <app-offer [side]="player()" [transaction]="transaction"></app-offer>

  </div>

  <div class="transaction-offer">

    <app-offer [side]="otherSide()" [transaction]="transaction"></app-offer>

  </div>

</div>

<div class="transaction-footer">
  <app-transaction-status [transaction]="transaction" [status]="true"></app-transaction-status>
  <app-transaction-status [transaction]="transaction" [status]="false"></app-transaction-status>
</div>

