<mat-expansion-panel *ngIf="">
    <mat-expansion-panel-header>
        <mat-panel-title>
            ADD DISCOUNT
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="width: 100%">
        <mat-form-field style="width: 70%; display: inline-block">
            <mat-select placeholder="Town or utility" [(ngModel)]="chargeable">
                <mat-option [value]="p" *ngFor="let p of chargeables">{{p.toString()}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 30%; display: inline-block">
            <mat-select placeholder="TOUR" [(ngModel)]="endTour">
                <mat-option [value]="t" *ngFor="let t of [1, 2, 3, 4, 5, 6, 7]">{{t}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div style="width: 100%">
        <mat-slider thumbLabel style="width: 70%; display: inline-block"
                    [(ngModel)]="value"
                    [disabled]="chargeable == null"
                    [tickInterval]="percentage ? 5 : 10"
                    [displayWith]="formatLabel"
                    [min]="min()"
                    [max]="max()">
        </mat-slider>

        <button mat-button (click)="percentage = percentage">
            {{percentage ? '%' : '$$'}}
        </button>
    </div>

    <button mat-button style="width: 100%" (click)="newDiscount()" [disabled]="chargeable == null">
        ADD
    </button>
</mat-expansion-panel>
