@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
  scrollbar-width: none;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 900px){
  html {
    font-size: calc(0.2 * 100vmax / 12.12);
  }
}

@media screen and (min-width: 901px) {
  html {
    font-size: 20px;
  }
}

::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
}

:root {
  --sqrt2: 1.41421356237309;

  --fhx: 7.8rem;
  --rwx: 52.8rem;
  --rhx: 7.8rem;
}


/*<!--    FIELD INFO-->*/

.field-info > div {
  font-family: 'Cantarell';
  font-size: larger;
  width: calc(100% + 20px);
  text-align: center;
  margin: 15px -10px 0 -10px;
  border-bottom: black solid 2px;
  padding-bottom: 15px;
}

.field-info > div:first-child {
  font-family: 'Candal';
  font-size: xx-large;
  margin-top: -5px;
  padding-bottom: 5px;
  text-overflow: fade;
}

.field-info > div:last-child {
  border: none;
}

.transferable-info {
  text-align: justify;
}

.price-area {
  height: 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0.5;
}

.field-min .icon {
  text-align: center;
  font-family: "FontAwesome";
  padding-right: 3px;
  font-weight: 900;
  margin: auto;
}


.lg-text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: darkslategrey;
  text-align: center;
  margin-top: 5%;
}

.mid-text {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  color: darkblue;
  font-size: 1.5em;
  text-align: left;
  width: 100%;
}

.sm-text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: darkblue;
  text-align: center;
}

.pawns-area {
  position: absolute;
  top: 100%;
  width: 100%;
  display: inline-block;
  justify-content: space-between;
}

.pawn {
  margin: 5px 5px 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.pawn:hover {
  border: black solid 0.4px;
}
