<span class="field-name" [ngStyle]="{'color': field.owner.color}">
  {{field.name}}
</span>

<span class="field-index">
  {{field.index}}
</span>

<span class="field-icon" [ngClass]="iconClass" [ngStyle]="{'color': iconColor}"></span>

<div class="town-improvements" *ngIf="type === 'TOWN'">
  <div class="town-improvement" *ngFor="let i of field.town.improvements.array"></div>
</div>

<div class="pawn-area">
    <i class="player-pawn" *ngFor="let p of field.players.array" [ngStyle]="{'color': p.color}"></i>
</div>