
<!--suppress AngularInvalidExpressionResultType -->
  <div class="content" [attr.name]="'field-' + field.getProperty().uuid" (click)="select(field)">
    <app-town-field *ngIf="type === 'TOWN'" [town]="field.getProperty()"></app-town-field>
    <app-utility-field *ngIf="type === 'UTILITY'" [utility]="field.getProperty()"></app-utility-field>
    <app-card-field *ngIf="type === 'CARD_GROUP'" [card]="field.getProperty()"></app-card-field>
  </div>

  <div class="pawns-area">
    <div class="pawn tooltip" *ngFor="let playersPown of field.players.toArray()"
      [ngStyle]="{'background-color': playersPown.color}">
      <span class="tooltiptext">{{playersPown.name}}</span>
    </div>
  </div>

